{% extends 'base.html' %}
{% load static %}
{% block title %}
    About
{% endblock %}

{% block links %}
<link id="theme-style" rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-xl-9">
            <div class="d-flex justify-content-center">

                <h5 class="">About the Library</h5>
            </div>

            <p class="mt-3" style="font-size: 16px;">
                This library was created to support young scientists and applicants.
                In this library, you can publish your articles, books, manuals, guidelines,
                certificates for computer programs, abstracts and conference materials. <br>
                In our library, your publications are indexed in Google Scolar. In the future,
                we are already working to ensure that the publications of our users are indexed
                in other indexing databases <br>
                This library was created with the support of Parallax IT Club LLC and the MITA team
            </p>
        </div>
    </div>
</div>

{% endblock %}