{% extends 'base.html' %}
{% load static %}
{% block title %}
    Archives
{% endblock %}

{% block links %}
<link id="theme-style" rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
{% endblock %}

{% block content %}
<head>
    <title>Yangi Arxiv Maqolasi</title>
</head>
<body>
    <h1>Yangi Arxiv Maqolasi</h1>
    <form method="post">
        {% csrf_token %}
        <!-- Formani to'ldirish maydonlari -->
        <label for="maq_name">Maqola nomi:</label>
        <input type="text" name="maq_name" id="maq_name" required><br><br>
        <!-- Qolgan maydonlar ham shunga o'xshash shaklda qo'shiling -->
        <input type="submit" value="Saqlash">
    </form>
</body>

{% endblock %}











{% comment %} <head>
    <title>Arxiv Maqolasi</title>
</head>
<body>
    <h1>{{ archive.maq_name }}</h1>
    <p><strong>Muallif:</strong> {{ archive.maq_muallif }}</p>
    <p><strong>Nashr san'ati:</strong> {{ archive.maq_nashr_sanasi }}</p>
    <p><strong>Jurnal nomi:</strong> {{ archive.journal_name }}</p>
    <p><strong>Volume:</strong> {{ archive.volum }}</p>
    <p><strong>Issue:</strong> {{ archive.issue }}</p>
    <p><strong>Sahifalar:</strong> {{ archive.sahifalar }}</p>
    <p><strong>Keywords:</strong> {{ archive.keywords }}</p>
    <p><strong>Abstract:</strong> {{ archive.abstract }}</p>
    <p><strong>References:</strong> {{ archive.references }}</p>
</body> {% endcomment %}
