{% extends 'base.html' %}
{% load static %}
{% block title %}
    Archives
{% endblock %}

{% block links %}
<link id="theme-style" rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
{% endblock %}

{% block content %}

{% comment %} <body>
    <h4>Arxiv Maqolalari Ro'yxati</h4>
    <ul>
        {% for archive in archives %}
            <li><a href="{% url 'archive_detail' archive.pk %}">{{ archive.maq_name }}</a></li>
        {% endfor %}
    </ul>
</body> {% endcomment %}

<body>
    <div class="row">
        <h4>Maqolalar Arxiv</h4>
    </div>
    <ul>
        {% for archive in archives %}
        <hr>
            <div class="section pt-4">
                <div class="row">
                    <a href="#"><h5>{{ archive.maq_name }}</h5></a>
                    <p>{{ archive.maq_muallif }}</p>
                </div>
            </div>
            

            {% if maqola_files %}
                {% for item in maqola_files %}
                    <li class="btn btn-outline-secondary my-xl-4 w-100"><i class='bx bxs-file-pdf'></i>
                        <a href="{{ item.file_upload.url }}" download>Download</a>
                    </li>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
</body>

{% endblock %}
