{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    {% block links %}

    {% endblock %}
</head>

<body>
    <!-- START HEADER -->
    <div class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary d-block">
            <div class="container container-top">
                <h5 class="brand fs-4 px-4">Library Of Young Scientists (LIBYS)</h5>
                <ul class="navbar-nav   mb-2 mb-lg-0 d-flex justify-content-between hr">
                </ul>
            </div>
            <div class="container">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class=" mt-3 navbar-nav me-auto mb-2 mb-lg-0 gap-3">
                        <li class="nav-item"><a href="{% url 'myApp:home' %}"
                                class="nav-link hover link-dark px-2 active" aria-current="page">Home</a></li>
                        <li class="nav-item"><a href="#" class="nav-link hover active link-dark px-2">Features</a></li>
                        <li class="nav-item"><a href="#" class="nav-link hover active link-dark px-2">Pricing</a></li>
                        <li class="nav-item"><a href="{% url 'myApp:faq' %}"
                                class="nav-link hover link-dark active px-2">FAQs</a>
                        </li>
                        <li class="nav-item"><a href="{% url 'myApp:editor' %}"
                                class="nav-link hover link-dark active px-2">Editorial Team</a></li>
                        <li class="nav-item"><a href="{% url 'myApp:about' %}"
                                class="nav-link hover link-dark active px-2">About</a></li>
                        <li class="respons">

                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
    <!-- END HEADER -->
    <!-- START MAIN  -->
    <div class="container mb-4" style="margin-top: 130px;">
        <div class="row">

            <div class="col-xl-9 border ">
                {% block content %}

                {% endblock %}
            </div>
            <div class="col-xl-3 p-3 gap-3">
                <img style="border-radius: 50%;" class="px-5 ms-4 p-3 w-xl-100" width="280px"
                    src="{% static 'assets/img/Library.png' %}" alt="">
                <img class="px-5 ms-4 mt-4 " src="{% static 'assets/img/google-scholar.jpg' %}" style="width: 280px;"
                    alt="">
                <img class="px-5 ms-4 w-sm-75 w-lg-100" src="{% static 'assets/img/toshmi.png' %}" style="width: 280px;"
                    alt="">
                <img class="px-5 ms-4 mt-4" src="{% static 'assets/img/tuit.png' %}" style="width: 280px;" alt="">
            </div>
        </div>
    </div>
    <!-- END MAIN -->
    <!-- START FOOTER -->
    <div class=" footer continaer-flud p-5 bottom-0 w-100">
        <div class="row ">
            <div class="col-md-9">
                <p>
                    <strong>CONTACT</strong>
                </p>
                <p class="h6">
                    <img src="{% static 'assets/img/location.png' %}" alt width="25">
                    Respublic of Uzbekistan, Tashkent, st. Amir Temur, 10
                </p>
                <hr>
                <p class="h6">
                    <img src="{% static 'assets/img/phone.png' %}" alt width="25">
                    (+998) 99-890-96-23
                </p>
                <hr>
                <p class="h6">
                    <img src="{% static 'assets/img/mail.png' %}" alt width="25">
                    info@www.newscientistlibys.uz
                </p>
                <hr>
                <p class="h6">
                    This work is licensed under a Creative Commons E'tirof 4.0 Xalqaro License.
                </p>
            </div>
            <div class="col-md-3" role="complementary">
                <img class="" src="{% static 'assets/img/Library.png' %}" style="border-radius: 50%; width: 230px; "
                    alt="">
            </div>
        </div>
    </div>
    <!-- END FOOTER -->
    <script src="{% static 'assets/js/bootstrap.bundle.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        const func = () => {
            let login = `<ul class="navbar-nav hr  mb-2 mb-lg-0 d-flex justify-content-between">
                {% if user %}
                <div class="dropdown">
                    <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ user.username }}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li><a class="dropdown-item" href="{% url 'profile_update' %}">View Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>
                {% else %}
                <ul class="nav gap-3">
                    <li class="nav-item"><a class="hover nav-link link-dark" href="{% url 'register' %}">Register</a>
                    </li>
                    <li class="nav-item"><a class="hover nav-link link-dark" href="{% url 'login' %}">Login</a></li>
                </ul>
                {% endif %}
            </ul>`

            let brand = 'Library Of Young Scientists (LIBYS)';
            var width = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
            console.log(width)
            if (width <= 992) {
                document.querySelector('.brand').innerHTML = null;
                document.querySelector('.navbar-brand').innerText = brand;
                document.querySelector('.hr').innerHTML = null;
                document.querySelector('.respons').innerHTML = login
            }
            if (width > 992) {
                document.querySelector('.brand').innerHTML = brand;
                document.querySelector('.navbar-brand').innerText = null;
                document.querySelector('.hr').innerHTML = login
                document.querySelector('.respons').innerHTML = null;
            }
        }
      func();
    </script>

</body>