{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    {% block links %}
    
    {% endblock %}
</head>

<body>
    <!-- START HEADER -->
    <div class="fixed-top">
    <header class=" pb-3  pt-4 bg-primary">
        <div class="container d-flex flex-wrap justify-content-between">
            <a href="#" class="d-flex  mb-3 mb-lg-0  text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <h3 class="fs-4">Library Of Young Scientists (LYS)</h3>
            </a>
            <ul class="nav gap-3 ">
                <li class="nav-item"><a href="{% url 'login' %}" class="hover nav-link link-dark">Login</a></li>
                <li class="nav-item"><a href="{% url 'register' %}" class=" hover nav-link link-dark">Sign up</a></li>
            </ul>
          
        </div>
    </header>
    <nav class="py-2 mb-5 bg-primary border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a href="{% url 'myApp:home' %}" class="nav-link hover link-dark px-2 active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link hover link-dark px-2">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link hover link-dark px-2">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link hover link-dark px-2">FAQs</a></li>
                <li class="nav-item"><a href="{% url 'myApp:editor' %}" class="nav-link hover link-dark px-2">Editorial Team</a></li>
                <li class="nav-item"><a href="{% url 'myApp:about' %}" class="nav-link hover link-dark px-2">About</a></li>
            </ul>
            <form class=" mb-3 mb-lg-0 d-flex input-group-sm" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                <input type="button" value="Search" class="btn btn-outline-dark">
            </form>
        </div>
    </nav>
</div>
    <!-- END HEADER -->
    <!-- START MAIN  -->
    <div class="container mb-4" style="margin-top: 180px;">
        <div class="row">

            <div class="col-xl-9 border ">
                {% block content %}

                {% endblock %}
            </div>
            <div class="col-xl-3 p-3">
                <img style="border-radius: 50%;" class="px-5 ms-4 p-3 w-xl-100" width="280px"
                    src="{% static 'assets/img/Library.png' %}" alt="">
                <img class="px-5 ms-4 w-100" src="{% static 'assets/img/google-scholar.jpg' %}" alt="">
                <img style="border-radius: 50%;" class="px-5 ms-4 p-3 w-xl-100" width="280px"
                    src="{% static 'assets/img/toshmi.png' %}" alt="">
            </div>
        </div>
    </div>
    <!-- END MAIN -->
    <!-- START FOOTER -->
    <div class=" footer continaer-flud p-5 bottom-0 w-100">
        <div class="row ">
            <div class="col-xl-6">
                <p class="h6">
                    This work is licensed under a Creative Commons E'tirof 4.0 Xalqaro License.
                </p>
            </div>
            <div class="col-xl-4"></div>
            <div class="col-xl-2">
                <img style="border-radius: 50%;" class="w-100" src="{% static 'assets/img/Library.png' %}" alt="">
            </div>
        </div>
    </div>
    <!-- END FOOTER -->
    <script src="{% static 'assets/js/bootstrap.bundle.js' %}"></script>

</body>