{% extends 'base.html' %}
{% load static %}
{% block title %}
    Book
{% endblock %}

{% block links %}
<link id="theme-style" rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
{% endblock %}

{% block content %} 
<form method="post" > {% csrf_token %}
    <div class="container mt-5" style="font-size:15px">
        <div class="text-center h4">Book</div>
        <div class="row" style="font-size:15px">
            <div class="col-md-1"></div>
            <div class="col-md-10 mb-3 pb-1">
                <div class="form-outline">
                    <label class="form-label mb-0">Title</label>
                    <input type="name" name="book_name" id="name" class="form-control form-control-md" required/>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="font-size:15px">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 mb-3 pb-1">
                <div class="form-outline">
                    <label class="form-label mb-0" >Authors</label>
                    <input type="muallif" name="book_muallif" id="authors" class="form-control form-control-md" required/>
                    <label class="form-label mt-0">For example: Patterson A.D., Lamport N.G., Leslie</label>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="font-size:15px">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 mb-3 pb-1">
                <div class="form-outline">
                    <label class="form-label mb-0" >Publication date</label>
                    <input type="data" name="book_nashr_sanasi" id="data" class="form-control form-control-md" required/>
                    <label class="form-label mt-0">For example: 2020, 2020/12 or 2020/12/31.</label>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="font-size:15px">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 mb-3 pb-1">
                <div class="form-outline">
                    <label class="form-label mb-0">Volume</label>
                    <input type="volume" name="volume" id="volume" class="form-control form-control-md" required/>
                
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="font-size:15px">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 mb-3 pb-1">
                <div class="form-outline">
                    <label class="form-label mb-0">Pages</label>
                    <input type="nashriyot_name" name="pages" id="publisher" class="form-control form-control-md" required/>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-8"></div>
            <div class="col-xl-3">
                <input class="btn btn-outline-primary w-100"  type="submit"
                value="Save"/>
            </div>
        </div>
    </div>
</form>

{% endblock content %}