{% load static %}
{% load meta %}
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book.book_name }}</title>
    <meta name="description" content="{{ book.description }}">
    <meta name="Title" content="{{ book.book_name }}">
    {% if mualliflar %}
        {% for muallif in mualliflar %}
            <meta name="author" content="{{muallif}}">
        {% endfor %}
    {% endif %}
    
</head>
    <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"
    id="font-awesome-css">

<body>
    <form method="POST">
        {% csrf_token %}
        <section class=" container my-3 py-3">
            <div class="row">
                <div class="col-xl-1"></div>
                <div class="col-xl-12  py-3">
                    <p class=" text-center px-4 h4"> <strong>{{ book.book_name }}</strong></p>
                    <hr>
                    <div class="row px-4">
                        <div class="col-xl-8 border-end">
                            <p class="h6">{{ muallif|linebreaksbr }}</p>

                            <p class="mt-5">
                                <span class="h6">Keywords:</span>
                                Ключевые слова – компьютерная зрения, искусственный интеллект, идентификация, номер,
                                знак,
                                сегментация.
                            </p>

                            <p class="h5">
                                Abstract
                            </p>
                            <p class="mt-3">
                                Аннотация – В данной статье рассмотрено разработка программного средства для
                                идентификации
                                номерных знаков
                                транспортных средств на основе методов компьютерного зрения. Автоматическое
                                распознавание
                                номерных <br>
                                знаков (АРНЗ) играет важную роль в интеллектуальных транспортных системах, которые не
                                только
                                экономят
                                труд, но и повышают эффективность.</p>
                        </div>
                        <div class="col-xl-4">
                            <a href="#">
                                <img class="w-100" src="{% static '/assets/img/libys.jpg' %}" alt="404">
                            </a>
                            <hr>
                            {% if dgu_files %}
                            {% for item in dgu_files %}
                            <iframe class="btn btn-outline-secondary my-xl-4 w-100"><i class='bx bxs-file-pdf'></i>
                                <a href="{{ item.file_upload.url }}" download>{{item.file_upload.name|cut:"documents/uploaded-" }}</a>
                            </iframe>
                            {% endfor %}
                            {% endif %}

                            {% if book_files %}
                            {% for item in book_files %}
                            <li class="btn btn-outline-secondary my-xl-4 w-100"><i class='bx bxs-file-pdf'></i>
                                <a href="{{ item.file_upload.url }}" download>{{ item.file_upload.name|cut:"documents/uploaded-" }}</a>
                            </li>
                            {% endfor %}
                            {% endif %}

                            {% if maqola_files %}
                            {% for item in maqola_files %}
                            <li class="btn btn-outline-secondary my-xl-4 w-100"><i class='bx bxs-file-pdf'></i>
                                <a href="{{ item.file_upload.url }}" download>{{ item.file_upload.name|cut:"documents/uploaded-" }}</a>
                            </li>
                            {% endfor %}
                            {% endif %}

                            {% if disser_files %}
                            {% for item in disser_files %}
                            <li class="btn btn-outline-secondary my-xl-4 w-100"><i class='bx bxs-file-pdf'></i>
                                <a href="{{ item.file_upload.url }}" download>{{item.file_upload.name|cut:"documents/uploaded-" }}</a>
                            </li>
                            {% endfor %}
                            {% endif %}
                            <button class=" ms-3 btn  btn-outline-secondary"> Download </button>
                            <hr>
                            <p class="text-secondary">Published <br> <span class="text-dark">{{ book.book_nashr_sanasi }}</span></p>
                            <hr>
                            <p class="text-secondary">How to Cite <br> <span class="text-dark">
                                    {{ book.book_muallif }}
                                    {{ book.book_nashr_sanasi }}. {{ book.book_name }} .
                                    Library Of Young Scientists (LIBYS),
                                    15(1), 81-93. Retrieved from http://www.newjournal.org/index.php <br />
                                    /new/article/view/595
                                </span></p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</body>
</html>