{% extends 'base.html' %}
{% load static %}
{% block title %}
Register
{% endblock %}

{% block links %}
<link id="theme-style" rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
{% endblock %}
{% block content %}
<form method="post"> {% csrf_token %}
    <div class="container mt-5" style="font-size:15px">
        <div class="row">
            <div class="text-center h4">Patent</div>
            <div class="col-md-1"></div>
            <div class="col-md-10 mb-3 pb-1 ">
                <div class="form-outline">
                    <label class="form-label mb-0">Title</label>
                    <input type="name" name="cer_name" id="cer_name" class="form-control form-control-md" required />
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="font-size:15px">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 mb-3 pb-1">
                <div class="form-outline">
                    <label class="form-label mb-0">Authors</label>
                    <input type="cer_muallif" name="cer_muallif" id="authors" class="form-control form-control-md"  required/>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="font-size:15px">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 mb-3 ">
                <div class="form-outline">
                    <label class="form-label mb-0">Publication date</label>
                    <input type="data" name="date" id="data" class="form-control form-control-md" required />
                    <label class="form-label">For example: 2020, 2020/12 or 2020/12/31</label>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="font-size:15px">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 mb-3 ">
                <div class="form-outline w-100">
                    <label class="form-label mb-0">Patent number</label>
                    <input type="number" name="dgunomer" id="number" class="form-control form-control-md" required/>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container " style="font-size:15px">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 ">
                <div class="form-outline w-100">
                    <label class="form-label mb-0">Application number</label>
                    <input type="application_number" name="application_number" id="number" class="form-control form-control-md" required/>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-8"></div>
            <div class="col-xl-3">
                <input class="btn btn-outline-primary w-100"  type="submit"
                value="Save"/>
            </div>
        </div>
    </div>
</form>

{% endblock content %}