{% extends 'base.html' %}
{% load static %}

{% block title %}
    Editorial Team
{% endblock %}

{% block links %} 
    <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/style.css' %}">
{% endblock %}
{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-xl-12 p-1">
            <h4>Editorial Team</h4>
            <hr>
            <div class="section pt-4">
                <p class="h6">Chief editor:</p>
                <div class="row ">
                    <img class=" col-2 mt-1 px-sm-4" src="{% static 'assets/img/citations.jpeg' %}" style="width: 130px;" alt="404">
                    <p class="col-10 mt-3"> R.E. Yaxshiboyev,  Phd researcher at Tashkent University of Information Technologies (Uzbekistan, Tashkent).</p>
                </div>
            </div> 
            <hr>
            <h4>Members of the editorial board:</h4>
            <hr>
            <div class="section pt-4">
                <div class="row">
                    <img class=" col-2 mt-1" src="{% static 'assets/img/ismoilov.jpg' %}" style="width: 130px;" alt="404">
                    <p class="col-10 mt-3"> O.M. Ismailov,  professor at Tashkent University of Information Technologies (Uzbekistan, Tashkent).</p>
                </div>
            </div>
            <hr>
            <div class="section pt-4">
                <div class="row">
                    <img class=" col-2 mt-1" src="{% static 'assets/img/zamira.jpg' %}"  alt="404">
                    <p class="col-10 mt-3"> Z.J. Allamuratova,  Phd, Tashkent University of Information Technologies (Uzbekistan, Tashkent).</p>
                </div>
            </div>
            <hr>
            <div class="section pt-4">
                <div class="row">
                    <img class=" col-2 mt-1" src="{% static 'assets/img/bazarbayev.jpg' %}" style="width: 130px;" alt="404">
                    <p class="col-10 mt-3"> M.I. Bazarbayev, associate professor, Tashkent Medical Academy (Uzbekistan, Tashkent).</p>
                </div>
            </div>
            <hr>
            <div class="section pt-4">
                <div class="row">
                    <img class=" col-2 mt-1" src="{% static 'assets/img/ermatov.jpg' %}" style="width: 130px;" alt="404">
                    <p class="col-10 mt-3"> E.Ya. Ermetov,  senior teacher, Tashkent Medical Academy (Uzbekistan, Tashkent).</p>
                </div>
            </div>
            <hr>
            <div class="section pt-4 ">
                <div class="row">
                    <img class=" col-2 mt-1" src="{% static 'assets/img/meyrbek.jpg' %}" style="width: 130px;" alt="404">
                    <p class="col-10 mt-3"> M.B. Qudratillayev,  student, Tashkent University of Information Technologies (Uzbekistan, Tashkent).</p>
                </div>
            </div>
            <hr>
            <div class="section pt-4 ">
                <div class="row">
                    <img class=" col-2 mt-1" src="{% static 'assets/img/komronbek.jpg' %}" style="width: 130px;" alt="404">
                    <p class="col-10 mt-3"> M.B. Qudratillayev,  student, Tashkent University of Information Technologies (Uzbekistan, Tashkent).</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}