{% extends 'base.html' %}
{% load static %}

{% block title %}
    Editor page
{% endblock %}

{% block links %} 
    <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/style.css' %}">
{% endblock %}
{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-xl-12 p-1">
            <h3>Editorial Team</h3>
            <div class="section pt-4 border">
                <p class="h6">Chief editor:</p>
                <div class="row">
                    <img class=" col-2 mt-1" src="{% static 'assets/img/citations.jpeg' %}" alt="404">
                    <p class="col-10 mt-3"> R.E. Yaxshiboyev,  Phd researcher at Tashkent University of Information Technologies (Uzbekistan, Tashkent).</p>
                </div>
            </div>

            <h3>Members of the editorial board:</h3> 
            <div class="section pt-4 border">
                <p class="h6">Chief editor:</p>
                <div class="row">
                    <img class=" col-2 mt-1" src="{% static 'assets/img/citations.jpeg' %}" alt="404">
                    <p class="col-10 mt-3"> R.E. Yaxshiboyev,  Phd researcher at Tashkent University of Information Technologies (Uzbekistan, Tashkent).</p>
                </div>
            </div>
      
            <div class="section pt-4 border">
                <p class="h6">Chief editor:</p>
                <div class="row">
                    <img class=" col-2 mt-1" src="{% static 'assets/img/citations.jpeg' %}" alt="404">
                    <p class="col-10 mt-3"> R.E. Yaxshiboyev,  Phd researcher at Tashkent University of Information Technologies (Uzbekistan, Tashkent).</p>
                </div>
            </div>
       
            <div class="section pt-4 border">
                <p class="h6">Chief editor:</p>
                <div class="row">
                    <img class=" col-2 mt-1" src="img/odam.jpg" alt="404">
                    <p class="col-10 mt-3"> R.E. Yaxshiboyev,  Phd researcher at Tashkent University of Information Technologies (Uzbekistan, Tashkent).</p>
                </div>
            </div>
        
            <div class="section pt-4 border">
                <p class="h6">Chief editor:</p>
                <div class="row">
                    <img class=" col-2 mt-1" src="img/odam.jpg" alt="404">
                    <p class="col-10 mt-3"> R.E. Yaxshiboyev,  Phd researcher at Tashkent University of Information Technologies (Uzbekistan, Tashkent).</p>
                </div>
            </div>
      
            <div class="section pt-4 border">
                <p class="h6">Chief editor:</p>
                <div class="row">
                    <img class=" col-2 mt-1" src="img/odam.jpg" alt="404">
                    <p class="col-10 mt-3"> R.E. Yaxshiboyev,  Phd researcher at Tashkent University of Information Technologies (Uzbekistan, Tashkent).</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}