{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Login to your account
{% endblock %}

{% block links %}
<link id="theme-style" rel="stylesheet" href="{% static 'assets/css/style.css' %}">
{% endblock %}


{% block content %}

<div class="container pt-3 pb-3">
    <div class="text-center h4">Frequently Asked Questions</div>
</div>


<div class="section">
    <div class="container">
        <div class="row">
            <div class="accordion" id="accordionExample">
                {% for bob in faq %}
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{bob.id}}">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{bob.id}}" aria-expanded="true" aria-controls="collapse{{bob.id}}">
                        {{bob.question}}
                      </button>
                    </h2>
                    <div id="collapse{{bob.id}}" class="accordion-collapse collapse " aria-labelledby="heading{{bob.id}}" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        {{ bob.answer | safe }}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
        </div>
    </div>
</div>


{% endblock %}