<h1>Files for user {{ username }}</h1>
<table class="table">
  <thead class="thead-dark">
    <th scope="col">No</th>
    <th scope="col">User </th>
    <th scope="col">File name</th>
    <th scope="col">Upload date</th>
  </thead>
  {% for file in get_files %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ file.user.username }}</td>
      <td>{{ file.file_upload.name|cut:'documents/uploaded-' }}</td>
      <td>{{ file.upload_date }}</td>
    </tr>
  {% endfor %}
</table>
