{% extends 'base.html' %}
{% load static %}

{% block title %}
    Library of Young Scientists
{% endblock %}

{% block links %}
<link id="theme-style" rel="stylesheet" href="{% static 'assets/css/style.css' %}">
{% endblock %}

{% block content %}


<div class="container mt-4">
    <div class="row">
        <div class="col-xl-9  p-3">
            <div class="d-flex justify-content-center">
                <h5 class="">About the Library</h5>
            </div>
           
            <p class="mt-4" style="font-size: 16px;">
                This library was created to support young scientists and applicants.
                In this library, you can publish your articles, books, manuals, guidelines,
                certificates for computer programs, abstracts and conference materials. <br>
                In our library, your publications are indexed in Google Scolar. In the future,
                we are already working to ensure that the publications of our users are indexed
                in other indexing databases
            </p>
            <h6 class="mt-4">(2023):LIBYS</h6>
            <div class="row">
                <div class="col-xl-3">
                    <img class="w-100" src="{% static 'assets/img/libys.jpg' %}" alt="404">
                </div>
                <div class="col-xl-9">
                    <p>
                        The main purpose of the library is to inform the scientific community about the problems of
                        improving research and innovation in this field, to cover the scientific work of experts and
                        scientists in the field through the Internet, to discuss current scientific issues with
                        young scientists around the world. <br>
                        The main task of the library is to cover the achievements, problems and prospects, history
                        and stages of development of education and information technology. The library contains the
                        results of research in the following areas:
                    </p>
                    <p class="mt-xl-4">Full coverage of these topics will be provided in scholarly articles,
                        commentaries, and short commentaries. The library provides a convenient platform for
                        researchers, students, practitioners, and teachers to learn and contribute to the field.</p>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
{% endblock %}