{% extends 'base.html' %}
{% load static %}

{% block title %}
Home Page
{% endblock %}

{% block links %}
<link id="theme-style" rel="stylesheet" href="{% static 'assets/css/style.css' %}">
{% endblock %}

{% block content %}


<div class="container mt-5">
    <div class="row">
        <div class="col-xl-9  p-3">
            <div class="row">
                <div class="container">
                    <p>
                        <strong>Nima yuklamoqchisiz?</strong>
                    </p>
                    <p>
                        <a href="{% url 'myApp:dgu' %}">DGU</a>
                    </p>
                    <hr>
                    <p>
                        <a href="{% url 'myApp:book' %}">Book</a>
                    </p>
                    <hr>
                    <p>
                        <a href="{% url 'myApp:maqola' %}">Article</a>
                    </p>
                    <hr>
                    <p>
                        <a href="{% url 'myApp:dissertation' %}">Dissertation</a>
                    </p>
                </div>
            </div> <br> <br> <br>
            <div class="media-body border-bottom pb-4 w-100 d-block">
                <h3 class="media-heading">
                    <a href="">SHU YERGA BIRINCHI MAQOLANING NOMI CHIQISHI KERAK</a>
                </h3>
                <div class="meta">
                    <div class="authors col-md-11">
                        <span class="fa fa-user">

                        </span>
                        Siddiqov Bobirbek, Tufliyev Komronbek, Ibrohimov Olamgir
                    </div>
                    <p class="pages col-md-1">
                        <span class="fa fa-file-text-o">

                        </span>
                        9-15
                    </p>
                </div>
                <p class="col-md-12">
                    <span class="fa fa-calendar">

                    </span>
                    2023-02-04
                </p>
                <div class="btn-group col-md-3" role="group">
                    <a class="gallery-link btn btn-primary pdf" role="button" href="">PDF</a>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
{% endblock %}