{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login to your account
{% endblock %}

{% block links %}
<link id="theme-style" rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <form method="post"> {% csrf_token %}
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
        <!-- Email input -->
        <div class="container">
            <div class="row">
                <div class="  col-xl-8 col-md-6">
                    <div class="form-outline col-md-12 mb-4 pb-1">
                        <label class="form-label" for="form1Example1">Username</label>
                        <input type="username" id="form1Example1" class="form-control" name="username"/>

                    </div>
                    <!-- Password input -->
                    <div class="form-outline  col-xl-12 mb-4 pb-1">
                        <label class="form-label" for="form1Example2">Password</label>
                        <input type="password" id="myInput" class="form-control" name="password"/>
                    </div>

                    <!-- 2 column grid layout for inline styling -->
                    <div class=" mb-4 gap-2 d-flex justify-content-start">
                        <div class="col-xl-12 ">
                            <!-- Checkbox -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="form1Example3" onclick="myFunction()"/>
                                <label class="form-check-label " for="form1Example3"> Show Password <a class="ms-2" href="#!">Forgot password?</a> </label>
                            </div>
                        </div>

                    </div>


                    <div class=" pt-3 d-flex justify-content-end ">
                        <button type="submit" class="btn w-50 btn-outline-primary">Login</button>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
    }
</script>
{% endblock %}
