{% load static %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

{% block content %}
<div class="container ">
    <div class="mt-5">
        <h1 class="h3">Profile</h1>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="container my-5">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true">Identity</button>

                    <button class="nav-link " id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                        type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Contact</button>

                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                        type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Roles</button>

                    <button class="nav-link" id="nav-Public-tab" data-bs-toggle="tab" data-bs-target="#nav-Public"
                        type="button" role="tab" aria-controls="nav-Public" aria-selected="false">Public</button>

                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                        type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Password</button>

                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                        type="button" role="tab" aria-controls="nav-contact"
                        aria-selected="false">Notifications</button>

                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                        type="button" role="tab" aria-controls="nav-contact" aria-selected="false">API Key</button>

                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active p-3" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="section container-fluid">
                        <label for="username"><strong>Username</strong></label> <br>
                        {{ user.username }}
                    </div>
                    <div class="container-fluid mt-4">
                        <div class="row">
                            <label for="username"><strong>Name</strong></label>
                            <div class="col-xl-6">
                                <div class=" mb-3">
                                    {{ profile_form.first_name }}
                                    <label class="form-label">Given Name</label> <span class="text-danger">*</span>
                                </div>

                            </div>
                            <div class="col-xl-6">
                                <div class="mb-3">
                                    {{ profile_form.last_name }}
                                    <label class="form-label">Family Name</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-10">
                                <p>How do you prefer to be addressed? Salutations, middle names and suffixes can be
                                    added here if you would like.</p>
                                <div class="mb-3">
                                    <input type="text" class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-default">
                                    <label class="form-label">Preferred Public Name</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mt-4 px-3">
                        Your data is stored in accordance with our <a href="#"> privacy statement.</a>
                    </div>
                    <div class="container">
                        <div class="row mt-5">
                            <div class="d-flex justify-content-between">
                                <div style="border-left: 2px solid darkcyan; background-color: darkgray;" class="p-4">
                                    * Denotes required field
                                </div>
                                <button class="btn btn-outline-primary my-3" type="submit">save</button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade p-3" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="container">
                        <div class="row mt-3">
                            <div class="col-xl-7">
                                {{ profile_form.email }}
                                <label class="form-label pb-3">Email</label> <span class="text-danger">*</span>
                                <div class="row">
                                    <div class="col-xl-7">
                                        {{ profile_form.number }}
                                        <label class="form-label pb-3">Phone</label>
                                    </div>
                                </div>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                                <label class="form-label">Affiliation</label>
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                    <option selected>qwer</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <label class="form-label">Country</label> <span class="text-danger">*</span>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Default checkbox
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Default checkbox
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Default checkbox
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Default checkbox
                                    </label>

                                </div>
                            </div>
                        </div>
                        <div class="section mt-4">
                            Your data is stored in accordance with our <a href="#"> privacy statement.</a>
                        </div>
                        <div class="container-fluid">
                            <div class="row mt-5">
                                <div class="d-flex justify-content-between">
                                    <div style="border-left: 2px solid darkcyan; background-color: darkgray;"
                                        class="p-sm-0 py-xl-3 px-xl-4 ">
                                        * Denotes required field
                                    </div>
                                    <button class="btn btn-outline-primary my-3" type="submit">save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade p-3" id="nav-contact" role="tabpanel" aria-labelledby="nav-Public-tab">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Default checkbox
                        </label>
                    </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label>
                        </div>
                        <input type="text" class="form-control mt-5" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                         <label class="form-label">Reviewing interests</label>
                         <div class="section mt-4">
                            Your data is stored in accordance with our <a href="#"> privacy statement.</a>
                        </div>
                        <div class="container-fluid">
                            <div class="row mt-5">
                                <div class="d-flex justify-content-between">
                                    <div style="border-left: 2px solid darkcyan; background-color: darkgray;"
                                        class="p-4">
                                        * Denotes required field
                                    </div>
                                    <button class="btn btn-outline-primary my-3" type="submit">save</button>
                                </div>
                            </div>
                        </div>
                </div>
                       
                        <div class="tab-pane fade p-3" id="nav-Public-tab" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Default checkbox
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Default checkbox
                                </label>
                            </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Default checkbox
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Default checkbox
                                    </label>
                                </div>
                                <input type="text" class="form-control mt-5" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default">
                                 <label class="form-label">Reviewing interests</label>
                                 <div class="section mt-4">
                                    Your data is stored in accordance with our <a href="#"> privacy statement.</a>
                                </div>
                                <div class="container-fluid">
                                    <div class="row mt-5">
                                        <div class="d-flex justify-content-between">
                                            <div style="border-left: 2px solid darkcyan; background-color: darkgray;"
                                                class="p-4">
                                                * Denotes required field
                                            </div>
                                            <button class="btn btn-outline-primary my-3" type="submit">save</button>
                                        </div>
                                    </div>
                                </div>
                                </div>
                    </div>
                </div>
    </form>
</div>
{% endblock %}

<script src="{% static 'assets/js/bootstrap.bundle.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>