{% extends 'base.html' %}
{% load static %}
{% block title %}
Profile
{% endblock %}

{% block links %}
<link id="theme-style" rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
{% endblock %}
{% block content %}
  <h2>Edit Profile</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save changes</button> 
  </form>
{% endblock %}