<ul class="checkbox_and_radiobutton"> <label>Working Languages</label>
    <li>
        <label>
            <input type="checkbox" id="userLocales-hy_AM" name="userLocales[]" value="hy_AM" class="field checkbox">
            Armenian
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-id_ID" name="userLocales[]" value="id_ID" class="field checkbox">
            Bahasa Indonesia
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-bs_BA" name="userLocales[]" value="bs_BA" class="field checkbox">
            Bosanski
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-ca_ES" name="userLocales[]" value="ca_ES" class="field checkbox">
            Català
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-sr_RS@cyrillic" name="userLocales[]" value="sr_RS@cyrillic"
                class="field checkbox">
            Cрпски
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-da_DK" name="userLocales[]" value="da_DK" class="field checkbox">
            Dansk
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-de_DE" name="userLocales[]" value="de_DE" class="field checkbox">
            Deutsch
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-en_US" name="userLocales[]" value="en_US" class="field checkbox">
            English
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-es_ES" name="userLocales[]" value="es_ES" class="field checkbox">
            Español (España)
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-eu_ES" name="userLocales[]" value="eu_ES" class="field checkbox">
            Euskara
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-fr_CA" name="userLocales[]" value="fr_CA" class="field checkbox">
            Français (Canada)
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-fr_FR" name="userLocales[]" value="fr_FR" class="field checkbox">
            Français (France)
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-hi_IN" name="userLocales[]" value="hi_IN" class="field checkbox">
            Hindi
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-hr_HR" name="userLocales[]" value="hr_HR" class="field checkbox">
            Hrvatski
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-it_IT" name="userLocales[]" value="it_IT" class="field checkbox">
            Italiano
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-pl_PL" name="userLocales[]" value="pl_PL" class="field checkbox">
            Język Polski
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-ro_RO" name="userLocales[]" value="ro_RO" class="field checkbox">
            Limba Română
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-hu_HU" name="userLocales[]" value="hu_HU" class="field checkbox">
            Magyar
        </label>
    </li>
    <li>
        <label>
            <input type="checkbox" id="userLocales-nl_NL" name="userLocales[]" value="nl_NL" class="field checkbox">
            Nederlands
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-nb_NO" name="userLocales[]" value="nb_NO" class="field checkbox">
            Norsk Bokmål
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-pt_BR" name="userLocales[]" value="pt_BR" class="field checkbox">
            Português (Brasil)
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-pt_PT" name="userLocales[]" value="pt_PT" class="field checkbox">
            Português (Portugal)
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-gd_GB" name="userLocales[]" value="gd_GB" class="field checkbox">
            Scottish Gaelic
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-sk_SK" name="userLocales[]" value="sk_SK" class="field checkbox">
            Slovenčina
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-sl_SI" name="userLocales[]" value="sl_SI" class="field checkbox">
            Slovenščina
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-sr_RS@latin" name="userLocales[]" value="sr_RS@latin"
                class="field checkbox">
            Srpski
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-fi_FI" name="userLocales[]" value="fi_FI" class="field checkbox">
            Suomi
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-sv_SE" name="userLocales[]" value="sv_SE" class="field checkbox">
            Svenska
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-vi_VN" name="userLocales[]" value="vi_VN" class="field checkbox">
            Tiếng Việt
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-tr_TR" name="userLocales[]" value="tr_TR" class="field checkbox">
            Türkçe
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-cs_CZ" name="userLocales[]" value="cs_CZ" class="field checkbox">
            Čeština
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-el_GR" name="userLocales[]" value="el_GR" class="field checkbox">
            ελληνικά
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-ru_RU" name="userLocales[]" value="ru_RU" class="field checkbox">
            Русский
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-uk_UA" name="userLocales[]" value="uk_UA" class="field checkbox">
            Українська
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-mk_MK" name="userLocales[]" value="mk_MK" class="field checkbox">
            македонски јазик
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-he_IL" name="userLocales[]" value="he_IL" class="field checkbox">
            עברית
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-ar_IQ" name="userLocales[]" value="ar_IQ" class="field checkbox">
            العربية
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-fa_IR" name="userLocales[]" value="fa_IR" class="field checkbox">
            فارسی
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-ku_IQ" name="userLocales[]" value="ku_IQ" class="field checkbox">
            کوردی
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-ja_JP" name="userLocales[]" value="ja_JP" class="field checkbox">
            日本語
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-zh_CN" name="userLocales[]" value="zh_CN" class="field checkbox">
            简体中文
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="userLocales-ko_KR" name="userLocales[]" value="ko_KR" class="field checkbox">
            한국어
        </label>
    </li>


</ul>

<ul class="checkbox_and_radiobutton">
    <li>
        <label>
            <input type="checkbox" id="readerGroup-17" name="readerGroup[17]" class="field checkbox">
            Reader
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="authorGroup-14" name="authorGroup[14]" class="field checkbox" checked="checked">
            Author
        </label>
    </li>

    <li>
        <label>
            <input type="checkbox" id="reviewerGroup-16" name="reviewerGroup[16]" class="field checkbox"
                checked="checked">
            Reviewer
        </label>
    </li>


</ul>

<div class="section  ">

    <script>
        $(document).ready(function () {
            $("#interests").find(".interests").tagit({
                fieldName: 'interests[]',
                allowSpaces: true,
                autocomplete: {
                    source: function (request, response) {
                        $.ajax({
                            url: "https:\/\/cajecs.com\/index.php\/cajecs\/user\/getInterests",
                            data: { 'term': request.term },
                            dataType: 'json',
                            success: function (jsonData) {
                                if (jsonData.status == true) {
                                    response(jsonData.content);
                                }
                            }
                        });
                    }
                }
            });
        });
    </script>

    <div id="interests">
        <!-- The container which will be processed by tag-it.js as the interests widget -->
        <ul class="interests tagit ui-widget ui-widget-content ui-corner-all">
            <li class="tagit-choice ui-widget-content ui-state-default ui-corner-all hidden tagit-choice-editable"><span
                    class="tagit-label">fgregrdtgnb</span><a class="tagit-close"><span class="text-icon">×</span><span
                        class="ui-icon ui-icon-close"></span></a><input type="hidden" value="fgregrdtgnb"
                    name="interests[]" class="tagit-hidden-field"></li>
            <li class="tagit-new"><input type="text" class="ui-widget-content ui-autocomplete-input" autocomplete="off">
            </li>
        </ul>
        <span> <label class="sub_label" for="interests">
                Reviewing interests</label>
        </span>
    </div>


</div>


<div id="plupload" class="pkp_controller_fileUpload waiting">
    <div class="pkp_uploader_loading">
        <div class="pkp_notification">
            <div id="pkp_notification_plupload" class="notifyWarning">
            </div>
        </div>
    </div>

    <div id="pkpUploaderDropZone" class="pkp_uploader_drop_zone" style="position: relative;">

        <div class="pkp_uploader_drop_zone_label">
            Drag and drop a file here to begin upload
        </div>

        <div class="pkp_uploader_details">
            <span class="pkpUploaderProgress">
                <span class="percentage">0</span>%
            </span>
            <div class="pkp_uploader_progress_bar_wrapper">
                <span class="pkpUploaderProgressBar"></span>
            </div>
            <span class="pkpUploaderFilename"></span>
        </div>

        <div class="pkpUploaderError"></div>

        <button id="pkpUploaderButton" class="pkp_uploader_button pkp_button" tabindex="-1"
            style="position: relative; z-index: 1;">
            <span class="pkp_uploader_button_add">
                Upload File
            </span>
            <span class="pkp_uploader_button_change">
                Change File
            </span>
        </button>
        <div id="html5_1gvor4m4isbs1qn03o31oe5etl4_container" class="moxie-shim moxie-shim-html5"
            style="position: absolute; top: 11px; left: 814px; width: 94px; height: 34px; overflow: hidden; z-index: 0;">
            <input id="html5_1gvor4m4isbs1qn03o31oe5etl4" type="file"
                style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"
                accept=".jpg,.jpeg,.png,.svg,.gif" tabindex="-1"></div>
    </div>
</div>